/* estilo utilizado para criar efeito de fade na transição dos slides a aplicação do estilo é feita via Javascript */
@keyframes fadey {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    font-family: Avenir, Arial, sans-serif;
    margin: 0;
    font-size: 0;
}

.container {
    width: 100vw;
}

figure#slideshow {
    display: table;
    text-align: center;
    position: relative;
    border: 1px solid #fff;
}

figure#slideshow .slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: table-row;
    text-align: center;
    vertical-align: middle;
    margin-right: auto;

}

figure#slideshow .slide:first-child {
    position: relative;
}

figure#slideshow .slide .title, figure#slideshow .slide .caption {
    height: 7vh;
    top: 10px;
    background-color: #ffa90b;
    text-align: center;
    font-size: 5vh;
}

figure#slideshow .slide img {
    max-width: 65vw;  !important;
    max-height: 76vh;  !important;
}

#tempo {
    width: 25vw;
    /*max-height: 76vh;*/
    position: fixed;
    top: 20px;
    right: 10px;
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 14pt;
}

#tempo #condicao {
    margin-top: 20px;
    font-size: 20pt;
    font-weight: bold;
}

#tempo #cidade {
    color: orangered;
    font-size: 24pt;
    font-weight: bold;
}

#tempo #hora {
    margin-top: 20px;
    font-size: 24pt;
    font-weight: bold;
}

#tempo #temperatura {
    font-size: 30pt;
    font-weight: bold;
    color: orangered;
}

#marquee {
    position: fixed;
    bottom: 10px;
    height: 7vh;
    background-color: #110000;
}

#message {
    font-family: "Courier New", sans-serif;
    color: white;
    font-size: 30px;
    line-height: 6vh;
    animation: marquee 7s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}