/* estilo utilizado para criar efeito de fade na transição dos slides a aplicação do estilo é feita via Javascript */
@keyframes fadey {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    font-family: Avenir, Arial, sans-serif;
    margin: 0;
    font-size: 0;
}

.container {
    width: 100v;
}

figure#slideshow {
    display: table;
    text-align: center;
    position: relative;
    border: 1px solid #fff;
}

figure#slideshow .slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: table-row;
    text-align: center;
    vertical-align: middle;
        margin-left: auto;
    margin-right: auto;

}

figure#slideshow .slide:first-child {
    position: relative;
}

figure#slideshow .slide .title, figure#slideshow .slide .caption {
    height: 7vh;
    top: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 40px;
}

figure#slideshow .slide img {
    max-width: 90vw; !important;
    max-height: 76vh; !important;
}

#tempo {
    width: 120px;
    height: 179px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#marquee {
    width: 100%;
    position: fixed;
    bottom: 2vh;
    height: 7vh;
    background-color: #110000;
}

#message {
    text-align: right;
    font-family: "Courier New", sans-serif;
    margin-right: 50%;
    width: 150%;
    color: white;
    font-size: 30px;
    animation: marquee 7s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}